<template id="sign-template">
    <style>
        sign {
            position: absolute;
            right: 5px;
            bottom: 5px;
            width: 20px;
            height: 10px;
            border-radius: 10px;
            background: #74d8f1;
        }

        sign.open::before,
        sign.close::before {
            position: absolute;
            right: 0;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background: #fff;
            content: "";
        }

        sign.close::before {
            left: 0;
        }
    </style>

    <span role="sign" class="open"></span>
</template>
<script src="./sign.js"></script>
<!-- nonce 和 hash 测试插件模式下均无法通过 采取 js 分离， 侧面说明html导入模式的不可靠性及封装模式无意义-->
<!-- <script nonce="EDNnf03nceIOfn39fn3e9h3sdfa">
    var doc = document.currentScript.ownerDocument,
        XsignProto = Object.create(HTMLElement.prototype);

    XsignProto.createdCallback = function () {
        var template = doc.querySelector("#sign-template"),
            sign = template.content.cloneNode(true);
        this.shadow = this.createShadowRoot();
        this.shadow.appendChild(sign);
    };
    XsignProto.attachedCallback = function () {
        var sh = this.shadow,
            sign = sh.querySelector("span");

        sign[i].onclick = function () {
            if (this.classList.contains("close")) {
                this.classList.remove("close");
                this.style.background = "#74d8f1";
            } else {
                this.classList.add("close");
                this.style.background = "#ccc";
            }
        }
        if (!sign[i].classList.contains("close")) {
            var header = sign[i].parentNode.getElementsByTagName("header")[0];
            var action = header.getAttribute("data-action");
            var url = header.getAttribute("data-url");
            sendMessageToContentScript({
                action: action,
                data: url
            });
        }
    };
    var Xsign = doc.registerElement('sign', {
        'prototype': XsignProto
    })
</script> -->
