@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ooxx9d');
  src:  url('fonts/icomoon.eot?ooxx9d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ooxx9d') format('truetype'),
    url('fonts/icomoon.woff?ooxx9d') format('woff'),
    url('fonts/icomoon.svg?ooxx9d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-cog:before {
  content: "\e994";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-github:before {
  content: "\eab0";
}
